[Unit]
Description=My Python Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/PiEmailMonitor/main.py

[Install]
WantedBy=multi-user.target
